<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Diabetes Predictor</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <!-- <link href="https://fonts.googleapis.com/css2?family=Calibri&display=swap" rel="stylesheet"> -->
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class="heading_font">Diabetes Predictor</span></h2>
            <div class='description'>
    			<p>This is just a prediction based on key factors. Please consult with your doctor for an accurate result. </p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="{{ url_for('predict') }}" method="POST">
                <input class="form-input" type="text" name="pregnancies" placeholder="Number of Pregnancies - Range: 0-17"><br>
                <input class="form-input" type="text" name="glucose" placeholder="Glucose (mg/dL) - Range: 0-199"><br>
                <input class="form-input" type="text" name="bloodpressure" placeholder="Blood Pressure (mmHg) - Range: 0-122"><br>
                <input class="form-input" type="text" name="skinthickness" placeholder="Skin Thickness (mm) - Range: 0-99"><br>
                <input class="form-input" type="text" name="insulin" placeholder="Insulin Level (IU/mL) - Range: 0-845"><br>
                <input class="form-input" type="text" name="bmi" placeholder="Body Mass Index (kg/m²) - Range: 0-65.1"><br>
                <input class="form-input" type="text" name="familyhistory" placeholder="Diabetes Pedigree Function - Range: 0.07-2.4"><br>
                <input class="form-input" type="text" name="age" placeholder="Age (years) = Range: 0-80"><br>

        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>

        <!-- Footer -->
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com/lizzifer991/Project_4"><i class="fab fa-github fa-lg contact-icon"></i></a>
           </div>
           <p class='footer-description'></p>
       </div>

    </body>
</html>
